<div class="rs-testimonial main-home rs-rain-animate style4 gray-color modify1 md-fixing">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 hidden-md">
                <div class="testi-image">
                   <img src="assets/images/testimonial/testimonial-2.png" alt=""> 
                </div> 
            </div>
            <div class="col-lg-6 pl-50 md-pl-15">
                <div class="sec-title mb-50">
                    <div class="sub-text style4-bg left testi">Testimonios</div>
                    <h2 class="title pb-20">
                        Lo que dicen los clientes
                    </h2>
                    <div class="desc">
                        Trabajando en servicios de TI desarrollando aplicaciones de software 
                        y aplicaciones móviles para clientes de todo el mundo.
                    </div>
                </div>
                <div class="rs-carousel owl-carousel" 
                    data-loop="true" 
                    data-items="1" 
                    data-margin="30" 
                    data-autoplay="true" 
                    data-hoverpause="true" 
                    data-autoplay-timeout="5000" 
                    data-smart-speed="800" 
                    data-dots="true" 
                    data-nav="false" 
                    data-nav-speed="false" 

                    data-md-device="1" 
                    data-md-device-nav="false" 
                    data-md-device-dots="false" 
                    data-center-mode="false"

                    data-ipad-device2="1" 
                    data-ipad-device-nav2="false" 
                    data-ipad-device-dots2="false"

                    data-ipad-device="1" 
                    data-ipad-device-nav="false" 
                    data-ipad-device-dots="true" 

                    data-mobile-device="1" 
                    data-mobile-device-nav="false" 
                    data-mobile-device-dots="false">
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc"><img class="quote" src="assets/images/testimonial/main-home/quote2.png" alt="">
                                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. 
                                Override the digital divide with additional clickthroughs from DevOps. Nanotechnology 
                                immersion along the information highway.</div>
                        </div>
                        <div class="testimonial-content">
                            <div class="author-img">
                                <img src="assets/images/testimonial/main-home/1.jpg" alt="">
                            </div>
                            <div class="author-part">
                                <a class="name" href="#">Mariya Khan</a>
                                <span class="designation">CEO, Brick Consulting</span>
                            </div>
                        </div>
                    </div>
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc"><img class="quote" src="assets/images/testimonial/main-home/quote2.png" alt="">
                                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. 
                                Override the digital divide with additional clickthroughs from DevOps. Nanotechnology 
                                immersion along the information highway.</div>
                        </div>
                        <div class="testimonial-content">
                            <div class="author-img">
                                <img src="assets/images/testimonial/main-home/2.jpg" alt="">
                            </div>
                            <div class="author-part">
                                <a class="name" href="#">Sonia Akther</a>
                                <span class="designation">CEO, Keen IT Solution</span>
                            </div>
                        </div>
                    </div>
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc"><img class="quote" src="assets/images/testimonial/main-home/quote2.png" alt="">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.</div>
                        </div>
                        <div class="testimonial-content">
                            <div class="author-img">
                                <img src="assets/images/testimonial/main-home/3.jpg" alt="">
                            </div>
                            <div class="author-part">
                                <a class="name" href="#">Felando</a>
                                <span class="designation">Web Developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc"><img class="quote" src="assets/images/testimonial/main-home/quote2.png" alt="">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.</div>
                        </div>
                        <div class="testimonial-content">
                            <div class="author-img">
                                <img src="assets/images/testimonial/main-home/4.jpg" alt="">
                            </div>
                            <div class="author-part">
                                <a class="name" href="#">Neymar Vuya</a>
                                <span class="designation">Arist</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-inner">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
