<div id="rs-about" class="rs-about pt-60 md-pt-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="sec-title mb-50">
                    <div class="sub-text style4-bg">Sobre Nosotros</div>
                    <h2 class="title pb-20">
                        Potencia tu éxito con nuestra empresa de desarrollo de software
                    </h2>
                    <div class="desc">
                        En <b>ARACODE PERÚ</b>, somos un equipo apasionado de expertos en desarrollo de software que se dedica a convertir 
                        tus ideas en realidad. Ofrecemos soluciones innovadoras y a medida para satisfacer las necesidades específicas de 
                        tu negocio. Nuestro enfoque centrado en el cliente y nuestra experiencia en la industria nos permiten ofrecer 
                        servicios de desarrollo de software de primera categoría.
                    </div>
                    <br>
                    <div class="btn-part md-center">
                        <a class="readon started" href="nosotros">Más de nosotros</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <!-- Services Section Start -->
                <div class="rs-services style3 md-pt-70">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 pr-10 pt-40 sm-pt-0 sm-pr-0 sm-pl-0">
                               <div class="services-item mb-20">
                                   <div class="services-icon">
                                       <div class="image-part">
                                           <img class="main-img" src="assets/images/services/style3/main-img/1.png" alt="">
                                           <img class="hover-img" src="assets/images/services/style3/hover-img/1.png" alt="">
                                       </div>
                                   </div>
                                   <div class="services-content">
                                       <div class="services-text">
                                           <h3 class="title"><a href="nosotros">Código de alta calidad</a></h3>
                                       </div>
                                       <div class="services-desc">
                                           <p>
                                               At vero eos et accusamus etiusto odio praesentium accusamus.
                                           </p>
                                       </div>
                                   </div>
                               </div>
                               <div class="services-item cyan-bg">
                                   <div class="services-icon">
                                       <div class="image-part">
                                           <img class="main-img" src="assets/images/services/style3/main-img/2.png" alt="">
                                           <img class="hover-img" src="assets/images/services/style3/hover-img/2.png" alt="">
                                       </div>
                                   </div>
                                   <div class="services-content">
                                       <div class="services-text">
                                           <h3 class="title"><a href="nosotros">Equipos Full-stack</a></h3>
                                       </div>
                                       <div class="services-desc">
                                           <p>
                                               At vero eos et accusamus etiusto odio praesentium accusamus.
                                           </p>
                                       </div>
                                   </div>
                               </div>  
                            </div>
                            <div class="col-md-6 pl-10 sm-pr-0 sm-pl-0 sm-mt-20">
                               <div class="services-item gold-bg mb-20">
                                   <div class="services-icon">
                                       <div class="image-part">
                                           <img class="main-img" src="assets/images/services/style3/main-img/3.png" alt="">
                                           <img class="hover-img" src="assets/images/services/style3/hover-img/3.png" alt="">
                                       </div>
                                   </div>
                                   <div class="services-content">
                                       <div class="services-text">
                                           <h3 class="title"><a href="nosotros">Enfoque ágil</a></h3>
                                       </div>
                                       <div class="services-desc">
                                           <p>
                                               At vero eos et accusamus etiusto odio praesentium accusamus.
                                           </p>
                                       </div>
                                   </div>
                               </div>
                               <div class="services-item blue-bg">
                                   <div class="services-icon">
                                       <div class="image-part">
                                           <img class="main-img" src="assets/images/services/style3/main-img/4.png" alt="">
                                           <img class="hover-img" src="assets/images/services/style3/hover-img/4.png" alt="">
                                       </div>
                                   </div>
                                   <div class="services-content">
                                       <div class="services-text">
                                           <h3 class="title"><a href="nosotros">Sistemas mas Seguros</a></h3>
                                       </div>
                                       <div class="services-desc">
                                           <p>
                                               At vero eos et accusamus etiusto odio praesentium accusamus.
                                           </p>
                                       </div>
                                   </div>
                               </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Services Section End -->
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
