<div class="rs-about gray-color pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 md-mb-30">
                <div class="rs-animation-shape">
                    <div class="images">
                       <img src="assets/images/about/about-3.png" alt=""> 
                    </div>
                    <div class="middle-image2">
                       <img class="dance3" src="assets/images/about/effect-1.png" alt=""> 
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-60 md-pl-15">
                <div class="contact-wrap">
                    <div class="sec-title mb-30">
                        <div class="sub-text style-bg">Sobre Nosotros</div>
                        <h2 class="title pb-38">
                            Estamos aumentando el éxito empresarial con la tecnología
                        </h2>
                        <div class="desc pb-35">
                            En <b>ARACODE PERÚ</b>, somos un equipo apasionado de expertos en desarrollo de software que se dedica a convertir 
                            tus ideas en realidad. Ofrecemos soluciones innovadoras y a medida para satisfacer las necesidades específicas de 
                            tu negocio. Nuestro enfoque centrado en el cliente y nuestra experiencia en la industria nos permiten ofrecer 
                            servicios de desarrollo de software de primera categoría.
                        </div>
                    </div>
                    <div class="btn-part">
                        <a class="readon learn-more" href="contacto">Contactanos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-image">
            <img class="top dance" src="assets/images/about/dotted-3.png" alt="">
        </div>
    </div>
</div>
