<!--Encabezado Secundario Seccion - Inicio -->
<app-encabezado-secundario-seccion></app-encabezado-secundario-seccion>
<!--Encabezado Secundario Seccion - Fin -->
         
<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img1">
    <div class="breadcrumbs-inner text-center">
        <h1 class="page-title">Proyectos</h1>
        <ul>
            <li title="Braintech - IT Solutions and Technology Startup HTML Template">
                <a class="active" href="inicio">Inicio</a>
            </li>
            <li>Proyectos</li>
        </ul>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- Proyectos Seccion - Inicio -->
<app-proyectos-seccion></app-proyectos-seccion>
<!-- Proyectos Seccion - Fin -->


<app-contacto-video-seccion></app-contacto-video-seccion>

