
            <!--Encabezado Principal Seccion - Inicio -->
                <app-encabezado-principal-seccion></app-encabezado-principal-seccion>
            <!--Encabezado Principal Seccion - Fin -->
         
            <!-- Banner Section Start -->
                <app-banner></app-banner>
            <!-- Banner Section End -->
        
            <!-- About Section Start -->
                <app-about-section></app-about-section>
            <!-- About Section End -->
        
            <!-- Services Section Start -->
                <app-services-section></app-services-section>
            <!-- Services Section End -->
        
            <!-- Choose Section Start -->
                <app-why-choose-section></app-why-choose-section>
            <!-- Choose Section End -->
        
            <!-- Contacto Chico Seccion - Inicio -->
                <app-contacto-chico-seccion></app-contacto-chico-seccion>
            <!-- Contacto Chico Seccion - Fin -->
        
            <!-- Blog home section Section Start -->
                <app-blog-home-section></app-blog-home-section>
            <!-- Blog home section Section End -->
        
            <!-- Testimonial Section Start -->
                <app-testimonial-section></app-testimonial-section>
            <!-- Testimonial Section End -->

            <!-- Clients section Start -->
                <app-clients-section></app-clients-section>
            <!-- Clients section End -->

