
            <!--Full width header Start-->
                <app-full-width-header></app-full-width-header>
            <!--Full width header End-->
         
            <!-- Banner Section Start -->
                <app-banner></app-banner>
            <!-- Banner Section End -->
        
            <!-- About Section Start -->
                <app-about-section></app-about-section>
            <!-- About Section End -->
        
            <!-- Services Section Start -->
                <app-services-section></app-services-section>
            <!-- Services Section End -->
        
            <!-- Choose Section Start -->
                <app-why-choose-section></app-why-choose-section>
            <!-- Choose Section End -->
        
            <!-- Contact fast Start -->
                <app-contact-fast-section></app-contact-fast-section>
            <!-- Contact fast End -->
        
            <!-- Blog home section Section Start -->
                <app-blog-home-section></app-blog-home-section>
            <!-- Blog home section Section End -->
        
            <!-- Testimonial Section Start -->
                <app-testimonial-section></app-testimonial-section>
            <!-- Testimonial Section End -->
            
            <!-- Clients section Start -->
                <app-clients-section></app-clients-section>
            <!-- Clients section End -->

