
            <!--Encabezado Principal Seccion - Inicio -->
                <app-encabezado-principal-seccion></app-encabezado-principal-seccion>
            <!--Encabezado Principal Seccion - Fin -->
         
            <!-- Banner Section Start -->
                <app-banner></app-banner>
            <!-- Banner Section End -->
        
            <!-- Sobre Nosotros Seccion Start -->
                <app-sobre-nosotros-seccion></app-sobre-nosotros-seccion>
            <!-- Sobre Nosotros Seccion End -->
        
            <!-- Servicios Seccion Start -->
                <app-servicios-seccion></app-servicios-seccion>
            <!-- Servicios Seccion End -->
        
            <!-- Elegirnos Seccion Start -->
                <app-elegirnos-seccion></app-elegirnos-seccion>
            <!-- Elegirnos Seccion End -->
        
            <!-- Contacto Chico Seccion - Inicio -->
                <app-contacto-chico-seccion></app-contacto-chico-seccion>
            <!-- Contacto Chico Seccion - Fin -->
        
            <!-- Blog home section Section Start -->
                <app-blog-home-section></app-blog-home-section>
            <!-- Blog home section Section End -->
        
            <!-- Testimonios Seccion Start -->
                <app-testimonios-seccion></app-testimonios-seccion>
            <!-- Testimonios Seccion End -->

            <!-- Clientes Seccion Start -->
                <app-clientes-seccion></app-clientes-seccion>
            <!-- Clientes Seccion End -->

