
<div class="rs-services style3 rs-rain-animate gray-color pt-120 pb-120 md-pt-70 md-pb-80">
    <div class="container">
        <div class="row md-mb-60">
            <div class="col-lg-6 mb-60 md-mb-20">
                <div class="sec-title2 md-center">
                    <div class="sub-text style4-bg left" >Servicios</div>
                    <h2 class="title testi-title">
                        Qué soluciones ofrecemos a nuestros valiosos clientes
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 mb-60 md-mb-0">
                <div class="btn-part text-right mt-60 md-mt-0 md-center">
                    <a class="readon started" href="servicios">Todos los Servicios</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-20">
               <div class="services-item">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="assets/images/services/style2/main-img/1.png" alt="">
                           <img class="hover-img" src="assets/images/services/style2/hover-img/1.png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="servicios">Desarrollo de software</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                                At vero eos et accusamus etiusto odio praesentium accusamus etiusto odio  data center for managing database.
                           </p>
                       </div>
                       <div class="serial-number">
                            01 
                        </div>
                   </div>
               </div> 
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
               <div class="services-item pink-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="assets/images/services/style2/main-img/2.png" alt="">
                           <img class="hover-img" src="assets/images/services/style2/hover-img/2.png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="servicios">Desarrollo web</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                                At vero eos et accusamus etiusto odio praesentium accusamus etiusto odio  data center for managing database.
                           </p>
                       </div>
                       <div class="serial-number">
                            02 
                        </div>
                   </div>
               </div> 
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
               <div class="services-item aqua-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="assets/images/services/style2/main-img/3.png" alt="">
                           <img class="hover-img" src="assets/images/services/style2/hover-img/3.png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="servicios">Soluciones Analíticas</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                                At vero eos et accusamus etiusto odio praesentium accusamus etiusto odio  data center for managing database.
                           </p>
                       </div>
                       <div class="serial-number">
                            03 
                        </div>
                   </div>
               </div> 
            </div>
            <div class="col-lg-4 col-md-6 md-mb-20">
               <div class="services-item paste-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="assets/images/services/style2/main-img/4.png" alt="">
                           <img class="hover-img" src="assets/images/services/style2/hover-img/4.png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="servicios">Clould & DevOps</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                                At vero eos et accusamus etiusto odio praesentium accusamus etiusto odio  data center for managing database.
                           </p>
                       </div>
                       <div class="serial-number">
                            04 
                        </div>
                   </div>
               </div> 
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-20">
               <div class="services-item blue-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="assets/images/services/style2/main-img/5.png" alt="">
                           <img class="hover-img" src="assets/images/services/style2/hover-img/5.png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="servicios">Diseño de producto</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                                At vero eos et accusamus etiusto odio praesentium accusamus etiusto odio  data center for managing database.
                           </p>
                       </div>
                       <div class="serial-number">
                            05 
                        </div>
                   </div>
               </div> 
            </div>
            <div class="col-lg-4 col-md-6">
               <div class="services-item green-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="assets/images/services/style2/main-img/6.png" alt="">
                           <img class="hover-img" src="assets/images/services/style2/hover-img/6.png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="servicios">Data Center</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                                At vero eos et accusamus etiusto odio praesentium accusamus etiusto odio  data center for managing database.
                           </p>
                       </div>
                       <div class="serial-number">
                            06 
                        </div>
                   </div>
               </div> 
            </div>
        </div>
    </div>
    <div class="line-inner">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
