<!-- Project Section Start -->
<div class="rs-project style9 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <img src="assets/images/project/main-home/1.jpg" alt="images">
                    </div>
                    <div class="project-content"> 
                        <div class="project-inner">
                            <h2 class="title"><b><a href="https://kentha.cl/public/">Kentha.cl</a></b></h2>
                            <span class="category"><a href="https://kentha.cl/public/">Sitio Web - Marketing</a></span>
                            <p style="color: #fff;">Breve descripción del proyecto</p>
                            <div class="p-icon"><a href="https://kentha.cl/public/"><i class="fa fa-angle-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <img src="assets/images/project/main-home/2.jpg" alt="images">
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a href="https://www.capperu.com/">Capperu.com</a></h3>
                            <span class="category"><a href="https://www.capperu.com/">Sitio Web</a></span>
                            <p style="color: #fff;">Breve descripción del proyecto</p>
                            <div class="p-icon"><a href="https://www.capperu.com/"><i class="fa fa-angle-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <img src="assets/images/project/main-home/3.jpg" alt="images">
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a href="case-studies-single.html">Platform Integration</a></h3>
                            <span class="category"><a href="case-studies-single.html">It Technology</a></span>
                            <div class="p-icon"><a href="case-studies-single.html"><i class="fa fa-angle-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-25">
                <div class="project-item">
                    <div class="project-img">
                        <img src="assets/images/project/main-home/4.jpg" alt="images">
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a href="case-studies-single.html">Product Design</a></h3>
                            <span class="category"><a href="case-studies-single.html">It Technology</a></span>
                            <div class="p-icon"><a href="case-studies-single.html"><i class="fa fa-angle-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-25">
                <div class="project-item">
                    <div class="project-img">
                        <img src="assets/images/project/main-home/5.jpg" alt="images">
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a href="case-studies-single.html">Growth Strategies</a></h3>
                            <span class="category"><a href="case-studies-single.html">It Technology</a></span>
                            <div class="p-icon"><a href="case-studies-single.html"><i class="fa fa-angle-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item">
                    <div class="project-img">
                        <img src="assets/images/project/main-home/6.jpg" alt="images">
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a href="case-studies-single.html">Innovative Interfaces</a></h3>
                            <span class="category"><a href="case-studies-single.html">It Technology</a></span>
                            <div class="p-icon"><a href="case-studies-single.html"><i class="fa fa-angle-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Project Section End -->
