

<div class="rs-banner style3 rs-rain-animate modify1" style="top: -40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content">
                    <div class="rs-videos">
                        <div class="animate-border white-color style3">
                            <a class="popup-border popup-videos" href="https://www.youtube.com/watch?v=YLN1Argi7ik">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                    <h1 class="title">Soluciones Innovadoras <br> para tu Negocio</h1>
                    <p class="desc">
                        Somos tu Empresa de Desarrollo de Software: 
                        Utilizamos las últimas tecnologías para la creación de software, testing, mantenimiento y soporte.
                    </p>
                    <ul class="banner-btn">
                        <li><a class="readon started" href="contacto">Contactanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>                
    <div class="images-part hidden-md">
        <img src="assets/images/banner/banner-4.png" alt="">
    </div>
    <div class="line-inner style2">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
