<div class="rs-why-choose pt-120 pb-120 md-pt-70 md-pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pl-60 md-pl-15">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2 hidden-md">
                        <div class="image-part">
                            <img src="assets/images/choose/2.png" alt="">
                        </div>
                        <div class="animation style2">
                            <div class="top-shape">
                                <img class="dance" src="assets/images/choose/dotted-2.png" alt="images">
                            </div>
                            <div class="bottom-shape">
                                <img class="dance2" src="assets/images/choose/dotted-1.png" alt="images">
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-8">
                        <div class="sec-title mb-40">
                            <div class="sub-text style4-bg left">POR QUÉ ELEGIRNOS</div>
                            <h2 class="title pb-20">
                                Creamos Aplicaciones Dinámicas Orientadas a Resultados
                            </h2>
                            <div class="desc">
                            Trabajando en servicios de TI desarrollando aplicaciones de 
                            software y aplicaciones móviles para clientes de todo el mundo.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 services-wrap mb-25">
                        <div class="services-icon">
                            <img style="width: 100px;" src="assets/images/choose/icons/1.png" alt="">
                        </div>
                        <div class="services-text">
                            <h3 class="title"><a href="#">Experiencia y expertise: </a></h3>
                            <p class="services-txt">Nuestro equipo cuenta con años de experiencia en el desarrollo de software y hemos 
                                trabajado con diversas industrias, lo que nos permite comprender tus necesidades y brindar 
                                soluciones eficaces.</p>
                        </div>
                    </div>
                    <div class="col-md-6 services-wrap mb-25">
                        <div class="services-icon">
                            <img style="width: 100px;" src="assets/images/choose/icons/2.png" alt="">
                        </div>
                        <div class="services-text">
                            <h3 class="title"><a href="#">Enfoque centrado en el cliente: </a></h3>
                            <p class="services-txt">Tu satisfacción es nuestra prioridad. Trabajamos estrechamente 
                                contigo para entender tus objetivos y adaptar nuestras soluciones para 
                                obtener resultados óptimos.</p>
                        </div>
                    </div>
                    <div class="col-md-6 services-wrap mb-25">
                        <div class="services-icon">
                            <img style="width: 100px;" src="assets/images/choose/icons/3.png" alt="">
                        </div>
                        <div class="services-text">
                            <h3 class="title"><a href="#">Innovación constante: </a></h3>
                            <p class="services-txt">Permanecemos al tanto de las últimas tendencias tecnológicas 
                                y metodologías de desarrollo para ofrecer soluciones vanguardistas y competitivas.</p>
                        </div>
                    </div>
                    <div class="col-md-6 services-wrap mb-25">
                        <div class="services-icon">
                            <img style="width: 100px;" src="assets/images/choose/icons/3.png" alt="">
                        </div>
                        <div class="services-text">
                            <h3 class="title"><a href="#">Calidad y seguridad:  </a></h3>
                            <p class="services-txt">Nuestra metodología de desarrollo y pruebas rigurosas garantiza la calidad 
                                y seguridad de nuestros productos, protegiendo tus datos y operaciones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
